USE [master]
GO
/****** Object:  Database [ElectroStore]    Script Date: 24.03.2026 15:49:52 ******/
CREATE DATABASE [ElectroStore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ElectroStore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ElectroStore.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'ElectroStore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ElectroStore_log.ldf' , SIZE = 1280KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ElectroStore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ElectroStore]
GO
/****** Object:  Table [dbo].[brands]    Script Date: 24.03.2026 15:49:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[brands](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_brands] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 24.03.2026 15:49:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_categories] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_tags]    Script Date: 24.03.2026 15:49:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_tags](
	[product_id] [int] NOT NULL,
	[tag_id] [int] NOT NULL,
 CONSTRAINT [PK_product_tags] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC,
	[tag_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 24.03.2026 15:49:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[price] [money] NOT NULL,
	[stock] [int] NOT NULL,
	[rating] [float] NOT NULL,
	[created_at] [date] NOT NULL,
	[category_id] [int] NOT NULL,
	[brand_id] [int] NOT NULL,
 CONSTRAINT [PK_products] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tags]    Script Date: 24.03.2026 15:49:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tags](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tags] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[brands] ON 

INSERT [dbo].[brands] ([id], [name]) VALUES (1, N'Samsung')
INSERT [dbo].[brands] ([id], [name]) VALUES (2, N'Apple')
INSERT [dbo].[brands] ([id], [name]) VALUES (3, N'Sony')
SET IDENTITY_INSERT [dbo].[brands] OFF
GO
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([id], [name]) VALUES (1, N'Smartphones')
INSERT [dbo].[categories] ([id], [name]) VALUES (2, N'Laptops')
INSERT [dbo].[categories] ([id], [name]) VALUES (3, N'Accessories')
SET IDENTITY_INSERT [dbo].[categories] OFF
GO
INSERT [dbo].[product_tags] ([product_id], [tag_id]) VALUES (2, 3)
INSERT [dbo].[product_tags] ([product_id], [tag_id]) VALUES (2, 5)
INSERT [dbo].[product_tags] ([product_id], [tag_id]) VALUES (3, 5)
GO
SET IDENTITY_INSERT [dbo].[products] ON 

INSERT [dbo].[products] ([id], [name], [description], [price], [stock], [rating], [created_at], [category_id], [brand_id]) VALUES (2, N'Lenovo Tab P12', N'High-performance device', 2659.5100, 238, 1.8, CAST(N'2024-03-06' AS Date), 2, 3)
INSERT [dbo].[products] ([id], [name], [description], [price], [stock], [rating], [created_at], [category_id], [brand_id]) VALUES (3, N'TCL 6-Series 55', N'High-performance device', 1563.3300, 499, 4.6, CAST(N'2023-11-05' AS Date), 5, 2)
INSERT [dbo].[products] ([id], [name], [description], [price], [stock], [rating], [created_at], [category_id], [brand_id]) VALUES (4, N'Samsung Galaxy Tab S9', N'Premium build quality', 2007.2600, 437, 3.2, CAST(N'2024-04-21' AS Date), 4, 2)
GO
SET IDENTITY_INSERT [dbo].[products] OFF
GO
SET IDENTITY_INSERT [dbo].[tags] ON 

INSERT [dbo].[tags] ([id], [name]) VALUES (1, N'New')
INSERT [dbo].[tags] ([id], [name]) VALUES (2, N'Popular')
INSERT [dbo].[tags] ([id], [name]) VALUES (3, N'Discount')
SET IDENTITY_INSERT [dbo].[tags] OFF
GO
ALTER TABLE [dbo].[product_tags]  WITH CHECK ADD  CONSTRAINT [FK_product_tags_products] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[product_tags] CHECK CONSTRAINT [FK_product_tags_products]
GO
ALTER TABLE [dbo].[product_tags]  WITH CHECK ADD  CONSTRAINT [FK_product_tags_tags] FOREIGN KEY([tag_id])
REFERENCES [dbo].[tags] ([id])
GO
ALTER TABLE [dbo].[product_tags] CHECK CONSTRAINT [FK_product_tags_tags]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK_products_brands] FOREIGN KEY([brand_id])
REFERENCES [dbo].[brands] ([id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK_products_brands]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK_products_categories] FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK_products_categories]
GO
USE [master]
GO
